<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860575061562-6smjs8qh8li8kkk2icdksqcoirjbifnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860575061562-6smjs8qh8li8kkk2icdksqcoirjbifnf</string>
	<key>API_KEY</key>
	<string>AIzaSyAFLuP2Hxa4Ar3OfugKrSbFGGvQl83_7i8</string>
	<key>GCM_SENDER_ID</key>
	<string>860575061562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karAmad</string>
	<key>PROJECT_ID</key>
	<string>karamad-3095f</string>
	<key>STORAGE_BUCKET</key>
	<string>karamad-3095f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860575061562:ios:e41e717df9a8f0e20b4703</string>
</dict>
</plist>